body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #643d87 url(../img/fundo.jpg) no-repeat top center;
}

#container{
    border: red solid 1px;
    border-radius: 15px;
    opacity: 80%;
    width: 400px;
    height: 300px;
    margin-top: 50%;
    text-align: center;
}

#container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
}

#form input{
    width: 40%;
    height: 40px;
    font-size: 18px;
    background-color: #FFF;
    align-items: center;
}