body {
    background-image: url(../img/fundo.png);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contaner{
    position: relative;
    padding: 10px;
    width: 70%;
    margin-top: 0;
    background: rgba(243, 218, 151, 0.4);
    border-radius: 25px 10px;
    left: 50%;
    transform: translate(-50%);
}
#top img{
    width: 100%;
}

#menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
}
#menu li{
    float: left;
    list-style: none;
    margin-left: 05px;
    background-color: rgb(219, 178, 65);
}
#menu li a{
    color: dimgray;
    text-decoration: none;
    text-transform: uppercase;
}

#conteudo{
    padding: 10px;
    background-color: rgb(223, 188, 188);
}
#conteudo h1{
    text-align: center;
}

#footer{
    text-shadow: 4px;
    text-decoration: double;
}

